{% extends "base.html" %}


{% block title %}{{ clinic_name | default('DentalPin') }}க்கு வரவேற்கிறோம்{% endblock %}


{% block content %}
<h2>வரவேற்கிறோம்!</h2>


<p>வணக்கம் {{ patient_name }},</p>


<p><strong>{{ clinic_name | default('DentalPin') }}</strong> கிளினிக்கிற்கு உங்களை வரவேற்பதில் நாங்கள் மகிழ்ச்சியடைகிறோம்.</p>


<p>இப்போது எங்கள் தளத்தின் மூலம் உங்கள் சந்திப்புகளை நிர்வகிக்கவும், சிகிச்சை வரலாற்றைப் பார்க்கவும், எங்கள் அனைத்து சேவைகளையும் அணுகவும் முடியும்.</p>


<p>ஏதேனும் கேள்விகள் இருந்தால், தயங்காமல் எங்களைத் தொடர்பு கொள்ளவும்.</p>
{% endblock %}